body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3882f6;
    border-radius: 8px;
    width: 170px;
    height: 45px;
    color: #f9faf8;
    font-size: x-large;
    font-weight: 700;
    border-color: #f9faf8;
    border-style:solid;
}

/*top layer starts here*/

.header{
    top:0;
    margin-top: -30px;
    margin-right:100%;
    margin-left: auto;
}

.left-content{
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
    margin-left: 200px;
}

.right-content{
    display: flex;
    width: 400px;
    font-size: 18px;
    color: #e5e7eb;
    margin-top: -25px;
    margin-left: 1585px;
    font-weight: 300;
}

.toplayer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #1f2937;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 7.5%;
}

.ttext{
    max-height: fit-content;
    font-size: 48px;
    line-height: 100px;
    font-weight: bolder;
    color: #f9faf8;
    margin-top: 5%;
    margin-left: 200px;
    width: 650px;
}

.content{
    font-size: 18px;
    color: #e5e7eb;
    margin-top: -2.5%;
    margin-left: 200px;
    width: 750px;
}

.mainimg{
    align-self: end;
    margin-top: -18.5%;
    margin-left: 200px;
    padding-right: 10%;
}

.tbutton{
    align-self: flex-start;
    margin-top: 25px;
    margin-left: 10.5%;
}

.ttbutton{
    border-style: none;
}

/*top layer ends here*/

/*second layer ends here*/

.seclayer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

.title2{
    font-size: 36px;
    font-weight: 900;
    color: #04080e;
    padding-bottom: 5%;
}

.seclayerimg{
    display: flex;
    justify-content: space-between;
    column-gap: 5%;
    img{
        border-radius: 5px;
    }
}

.simg1, .simg2, .simg3, .simg4{
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #3882f6;
    border-style: solid;
    border-radius: 12px;
    border-width: 7.5px;
}


.stext1, .stext2, .stext3, .stext4{
    padding-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.g1,.g2,.g3,.g4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*end of seclayer*/
/*quote layer*/

.quote{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding-left: 50px;
    padding-top: 5.5%;
    padding-bottom: 5.5%;
}

.qtext{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    padding:50px;
}

.credit{
    color: #1f2937;
    font-size: 26px;
    font-weight: 700;
    margin-left: 500px;
    align-self: flex-end;
    padding-right:85px;
}

/*quote layer ends here*/
/*call to act*/

.callact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    background-color: #3882f6;
    padding-top: 2.5%;
    padding-bottom:2.5%;
    width: 70%;
    border-radius: 12px;
    margin: 60px;
    margin-top: 80px;
    margin-bottom: 80px;
    row-gap: 1px;
}

.ctextcont{
    font-size: 18px;
    color: #e5e7eb;
    width: 750px;
    margin-left: 20px;
}

.cbutton{
    margin-top: -55px;
}

.ctexttitle{
    font-size: 30px;
    color: #e5e7eb;
    width: 750px;
    font-weight: 700;
    margin-left: -155px;
}

/*call to act ends here*/
/*footer*/

.footer{
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:  3%;
}

.footertext{
    color: #e5e7eb;
    font-size: 20px;
}

