body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

button{
    background-color: #3882f6;
    border-radius: 8px;
    width: 90px;
    height: 25px;
    color: #f9faf8;
    font-weight: bold;
    border-color: #f9faf8;
    border-style:solid;
}

.header{
    top:0;
    margin-left:0;
}

.toplayer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #1f2937;
    padding-left: 50px;
    padding-top: 50px;
}

.ttext{
    max-height: fit-content;
    font-size: 48px;
    line-height: 100px;
    font-weight: bolder;
    color: #f9faf8;
}

.content{
    font-size: 18px;
    color: #e5e7eb;
}

.mainimg{
    align-self: end;
}

.left-content{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}

.right-content{
    font-size: 18px;
    color: #e5e7eb;
}

.title2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote{
    background-color: #e5e7eb;
}

.qtext{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.callact{
    background-color: #3882f6;
}

